@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #160622;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
header {
  width: 100%;
  height: 60px;
  background-color: #7802cc;
  color: #fff;
  position: fixed;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
section {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  padding-top: 60px;
}


